*{
    margin: 0;
}
body{
    background: radial-gradient(circle,rgb(68, 68, 132),rgb(30, 30, 191));
    background-repeat:round;
    width: 100%;
}
#main{
    margin-top: 1%;
    width: 100%;
}
img{
    height: 230px;
    z-index: 1;
    margin-top: -10px;
    margin-left: -7px;
}
#name{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cabecera{
    width: 99%;
    display: flex;
    justify-content: center;
    background: rgba(19, 31, 169, 0.928);
    color: rgb(252, 254, 231);
    height: 110px;
    padding-top: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    font-size: 60px;
    box-shadow: 0px 0px 5px 7px rgba(16, 25, 127, 0.939);
    border: 2px solid rgba(16, 25, 127, 0.939);
    border-radius: 2px;
    transition-property: height,font-size,width;
    transition-duration: 0.5s;
}
#input{
    margin-top: 20px;
}
#titulo{
    margin: 5px;
}
.borde-tit{
    width: 60%;
    border: 5px solid rgb(14, 21, 107);
    border-radius: 20px;
    box-shadow: 0px 2px 5px 3px rgb(14, 21, 107);
    background: radial-gradient(circle,rgb(68, 68, 132),rgb(30, 30, 191));
    transition-property: width;
    transition-duration: 0.5s;
}
#namep{
    outline: none;
    border-radius: 20px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px dashed;
    border-left: 2px dashed;
    height: 40px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    background: rgb(67, 49, 225);
}
#namep:focus{
    border-top: 2px solid;
    border-right: 2px dashed;
    border-bottom: 2px solid;
    border-left: 2px dashed;
}
#btn{
    border-radius: 10px;
    height: 40px;
    width: 70px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    background: rgb(87, 70, 235);
    color: antiquewhite;
}
#btn:hover{
    background: rgb(75, 56, 244);
}
#btn:active{
    background: rgb(94, 76, 255);
}
#imagenes{
    width: 220px;
    height: 210px;
    z-index: 50;
    border: 5px solid rgb(14, 21, 107);
    border-radius: 20px;
    background: radial-gradient(circle,rgb(68, 68, 132),rgb(30, 30, 191));
}
.btnn{
    border-radius: 10px;
    height: 60px;
    width: 70px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    background: rgb(87, 70, 235);
    color: antiquewhite;
}
.btnn:hover{
    background: rgb(75, 56, 244);
}
.btnn:active{
    background: rgb(94, 76, 255);
}
#pista{
    top: 60px;
    font-size: 15px;
    height: 56px;
    width: 120px;
}
#name-pistas{
    display: inline-flex;
    justify-content: center;
}
#names{
    display: inline-flex;
    position: absolute;
    height: 9%;
    margin-left: 15px;
}
#bars{
    display: inline-flex;
}
.barnombre{
    font-size: 75px;
    margin-right: 5px;
    margin-top: -25px;
}
.nombre{
    font-size: 50px;
    margin-right: 10px;
}
#name-1{
    margin-left: -10px !important;
}
.active{
    visibility: visible;
}
.desactive{
    visibility: hidden;
}
.red{
    color: rgb(202, 17, 17);
}

@media only screen and (max-width: 1200px){
    .borde-tit{
        width: 550px;
        height: 80px;
    }
    #cabecera{
        font-size: 40px;
    }
}
@media only screen and (max-width: 800px){
    .borde-tit{
        width: 550px;
        height: 120px;
    }
    #cabecera{
        height: 20%;
        font-size: 45px;
    }
}
@media only screen and (max-width: 400px){
    .borde-tit{
        width: 98%;
        height: 5%;
    }
    #cabecera{
        width: 98%;
        font-size: 30px;
    }
    #btn{
        margin-top: 10px;
        font-size: 13px;
    }
    .btnn{
        font-size: 13px;
    }
    #namep{
        width: 80%;
    }
}